{% if componentData.type == "twoImages" %}
  <div class="two-images container">
    <div class="two-images__grid">
      <div class="two-images__item">
        <img src="{{ componentData.first }}" alt="{{ componentData.firstAlt }}">
      </div>
      <div class="two-images__item">
        <img src="{{ componentData.second }}" alt="{{ componentData.secondAlt }}">
      </div>
    </div>
  </div>
{% endif %}