# Dependencies
node_modules
.npm

# Build output
_site
dist
.cache

# Environment variables
.env
.env.*
!.env.example

# System files
.DS_Store
Thumbs.db

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*.log

# Netlify
.netlify