---
layout: base.njk
---
<article class="project">
  <nav class="project-navigation container">
    <div class="project-navigation__grid">
      {%- if locale == 'fr' -%}
        {%- set previousPost = collections.projects_fr | getPreviousCollectionItem %}
        {%- set nextPost = collections.projects_fr | getNextCollectionItem %}
      {%- else -%}
        {%- set previousPost = collections.projects_en | getPreviousCollectionItem %}
        {%- set nextPost = collections.projects_en | getNextCollectionItem %}
      {%- endif -%}

      {% if previousPost %}
        <a href="{{ previousPost.url }}" class="project-navigation__item project-navigation__item--prev">
          <span>{% if locale == 'fr' %}Projet Précédent{% else %}Previous Project{% endif %}</span>
          <h3>{{ previousPost.data.title }}</h3>
        </a>
      {% endif %}

      {% if nextPost %}
        <a href="{{ nextPost.url }}" class="project-navigation__item project-navigation__item--next">
          <span>{% if locale == 'fr' %}Projet Suivant{% else %}Next Project{% endif %}</span>
          <h3>{{ nextPost.data.title }}</h3>
        </a>
      {% endif %}
    </div>
  </nav>
</article>