{% if componentData.type == "pageTitle" %}
  <header class="page-header">
    <div class="container container--narrow">
      <h1>{{ componentData.title }}</h1>
      {% if componentData.subtitle %}
        <p>{{ componentData.subtitle }}</p>
      {% endif %}
    </div>
  </header>
{% endif %}