{% if componentData.type == "threeColumns" %}
  <div class="three-columns container">
    <div class="three-columns__grid">
      {% for column in componentData.columns %}
        <div class="three-columns__item">
          {{ column.content | markdown | safe }}
        </div>
      {% endfor %}
    </div>
  </div>
{% endif %}